
#preloader{
    width: 100%;
    height: 100%;
    background: #fff url('https://static.impression.co.uk/2014/05/loading1.gif') no-repeat center;
    position: fixed;
    z-index: 99999999999;
}
.copy-to-clip
{
    transition: all 0.5s;
    position: absolute;
    width: auto;
    padding:2px 5px;
    box-shadow: 1px 2px 8px rgb(56, 56, 56), 1px 2px 66px rgb(24, 24, 24);
    background-color: #0BB19C;  
    border-radius: 4px;    
    left: 34%;
    right: auto;
    margin: auto; 
    z-index: 9999;   
    /* top: 47%; */
   
}
.copy-to-clip p {
    padding:6px 5px;
    color: rgb(255, 255, 255);
    text-shadow: 1pz 1px 2px #444;
}

.list-style-bl{
    list-style: bengali;
}
.list-style-en{
    list-style: decimal;
}
.list-style-ar{
    list-style: arabic-indic;
}
.list-style-disc{
    list-style: disc;
}
.list-style-square{
    list-style: square;
}
.list-style-circle{
    list-style: circle;
}

.border-bottom1 {
    border-bottom: 2px solid #47b5a1;
    width: max-content;
}
._selcted{
    background-color: #dadada;
}
.themecolor{
    background-color: #0bb19c !important;
}
.fsize-10{font-size: 10px !important;}
.fsize-11{font-size: 11px !important;}
.fsize-12{font-size: 12px !important;}
.fsize-13{font-size: 13px !important;}
.fsize-14{font-size: 14px !important;}
.fsize-15{font-size: 15px !important;}
.fsize-16{font-size: 16px !important;}
.fsize-17{font-size: 17px !important;}
.fsize-18{font-size: 18px !important;}
.fsize-19{font-size: 19px !important;}
.fsize-20{font-size: 20px !important;}
.fsize-21{font-size: 21px !important;}
.fsize-22{font-size: 22px !important;}
.fsize-23{font-size: 23px !important;}
.fsize-24{font-size: 24px !important;}
.fsize-25{font-size: 25px !important;}
.fsize-26{font-size: 26px !important;}
.fsize-27{font-size: 27px !important;}
.fsize-28{font-size: 28px !important;}
.fsize-29{font-size: 29px !important;}
.fsize-30{font-size: 30px !important;}
.fsize-31{font-size: 31px !important;}
.fsize-32{font-size: 32px !important;}
.fsize-33{font-size: 33px !important;}
.fsize-34{font-size: 34px !important;}
.fsize-35{font-size: 35px !important;}
.fsize-36{font-size: 36px !important;}


/*=============================  */
/* start table of contents */
/* ============================== */

.pages-global-class .table-of-contents{
    /* transition: all 0.2s !important;   */
    height: 100%;
    margin-top: 35px;
    padding-left: 15px;
    border-left: 1px solid rgb(201, 201, 201);
}

.pages-global-class .table-of-contents h4, .pages-global-class .table-of-contents h5 {
    /* transition: all 0.2s; */
    border-radius: 10px;
    background-image: url('./patterns/gravel.png');
    text-align: center;
    cursor: pointer;
    padding: 14px 0;
    border: 2px solid #0bb19c;
    border-bottom: 4px solid #0bb19c;
    margin-top: 7px;
    margin-bottom: 15px;
    font-weight: 500;
}
.pages-global-class .table-of-contents h4, .pages-global-class .table-of-contents h5:hover {
    /* transition: all 0.2s; */
    border-radius: 10px;
    background:rgb(109, 109, 109);
    text-align: center;
    cursor: pointer;
    padding: 14px 0;
    border: 2px solid white, 10px solid #0bb19c;;
    /* border-bottom: 10px solid #0bb19c; */
    margin-top: 7px;
    margin-bottom: 15px;
    font-weight: 500;
    color: white;
}
.pages-global-class .table-of-contents p {
    font-size: large;
    /* transition: all 0.2s; */
    background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/leather_1.png');
    text-align: left;
    cursor: pointer;
    padding: 4px 10px;
    border: 1px solid #0fb29e;
    border-bottom: 3px solid #0bb19c;
    border-right: 2px solid #0bb19c;
    border-left: 2px solid #0bb19c;
    box-shadow: 1px 2px 2px rgb(182, 182, 182);
    margin: 7px auto;
    font-size: medium;
}
.pages-global-class .table-of-contents p.b-radius-around {
    border-radius: 10px;
}
.pages-global-class .table-of-contents p.b-radius-left-right {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #0bb19c;     
}


.pages-global-class .table-of-contents p.b-radius-around:hover{
    font-size: medium;
    /* transition: all 0.2s;    */
    border-radius: 10px;
    /* background-image: url('./patterns/light-veneer.png'); */
    background:rgb(109, 109, 109);
    text-align: left;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid white;
    border-bottom: 1px solid white;  
    border-right: 2px solid white;
    border-left: 2px solid white;
    box-shadow: 4px 6px 10px rgb(163, 163, 163);
    margin: 7px auto;
    color: white;
}
.pages-global-class .table-of-contents p.b-radius-left-right:hover{
    font-size: medium;
    /* transition: all 0.2s;    */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid white;
    /* background-image: url('./patterns/light-veneer.png'); */
    background:rgb(109, 109, 109);
    text-align: left;
    cursor: pointer;
    padding: 3px 10px;
    border: 1px solid #0fb29e;
    border-bottom: 3px solid #0fb29e;
    border-right: 2px solid #0fb29e;
    border-left: 2px solid #0fb29e;
    /* box-shadow: 4px 6px 10px rgb(163, 163, 163); */
    margin: 7px auto;
    color: white;
}
.pages-global-class .table-of-contents .indise-sub1 {
    /* transition: all 0.2s; */
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    background-image: url('./patterns/light-veneer.png');
    background: #f1f1f1;
    text-align: left;
    cursor: pointer;
    margin-top: -7px;
    margin-bottom: 11px;
    font-weight: 500;
    z-index: -1;
    margin-left: 0px;
    border-bottom: 13px solid #2ba394;
    box-shadow: 2px 4px 3px rgb(201, 201, 201);
}

.pages-global-class .table-of-contents .indise-sub1 p {
    /* transition: all 0.2s; */
    border-radius: 3px;
    padding: 0px;
    box-shadow: unset;
    border: 1px solid #0bb19c;
    margin: 0px;
    margin-bottom: -2px;
    padding-left: 10px;
    background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/white_brick_wall.png');
    font-size: smaller;
    border-radius: 0px;
}
.pages-global-class .table-of-contents .indise-sub1 p:hover {
    /* transition: all 0.2s; */
    border-radius: 3px;
    padding: 0px;
    box-shadow: unset;
    border: 1px solid #0bb19c;
    margin: 0px;
    margin-bottom: -2px;
    padding-left: 10px;
    background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/white_brick_wall.png');
    font-size: smaller;
    border-radius: 0px;
    background: rgb(109, 109, 109);
    color: white;
}


/*=============================  */
/* start each page contents */
/* ============================== */
.pages-global-class .page-contents{
    padding: 25px 0px;
}
.pages-global-class .heading {
    margin-top: 20px; 
    padding-top: 10px;
    padding-bottom: 10px;
}
.pages-global-class .heading{
    justify-content: center;    
    border-bottom: 3px solid #0BB19C;
}

.pages-global-class span.icon{
    color: #0BB19C;
    padding-right: 6px;
}
.pages-global-class span.icon2{
    color: #04463d;
    padding-right: 6px;
}
.pages-global-class span.icon3{
    color: #ffffff;
    padding-right: 6px;
}
.pages-global-class h1,
.pages-global-class h2,
.pages-global-class h3,
.pages-global-class h4

{
    font-weight: 700;
    color: #555;
}
.pages-global-class h5,
.pages-global-class h6
{
    font-weight: 500;
    color: #555;
}

.pages-global-class .start-description{
    padding-left: 15px;
}
.pages-global-class p{
    color: #444;
    font-size: 16px;
    text-align: justify;
    flex-grow: 3;
}
.pages-global-class ol li p{
   padding-left: 5px;
}
.pages-global-class table{
    margin: unset;
    border-top: 2px solid rgb(192, 192, 192);
}
.pages-global-class table thead{   
    border-bottom: 2px solid rgb(192, 192, 192);
    background-image: url('./patterns/45degreee_fabric.png');
    border: 1px solid #c5c5c5;
}
.pages-global-class table thead tr td{
    font-weight:500;
    font-size: larger;
}
.pages-global-class table tbody{
    background-image: url('./patterns/texturetastic_gray.png');
    font-weight: bold;
    border: 1px solid #c5c5c5;
    border-bottom: 2px solid rgb(192, 192, 192);
}

.pages-global-class table tfoot{   
    border: 1px solid #c5c5c5;
    border-bottom: 2px solid rgb(192, 192, 192);
    background-image: url('./patterns/45degreee_fabric.png');
}
.pages-global-class table tfoot tr td{
    font-weight:500;
    font-size: larger;
}
.pages-global-class table tbody tr td
{
 font-size: 15px;
}
/* ===== Examination page start */

object, embed{
    width: 100%;
    height: 520px;
}
object
{    
    border-radius: 10px;
    border:3px solid #616161;
}
object:hover
{
    height: 520px;
    border-radius: 10px;
    border:3px solid #616161;
}

.pages-global-class  select{
    border: 1px solid #0BB19C;
}
.exam-page-top-tabs p{
    text-align: center;
    background-color:#dbdbdb;
    padding:5px;
    cursor:pointer;
    border-radius: 40px;
    font-size: 15px;
    color: #858585;
    border: 2px solid #d3d3d3;
}
.exam-page-top-tabs p.active{
    text-align: center;
    background-color:#c0eee8;
    padding:5px;
    cursor:pointer;
    border-radius: 40px;
    color: #3a3a3a;
    font-size: 15px;
    border: 2px solid #0bb19c;
}

/* Question and answer */
.pages-global-class .qes-and-ans {
    margin-top: 15px;
    padding: 25px 0px;
}
.pages-global-class .qes-and-ans div {
    border:1px solid #138072;     
    border-top:2px solid #138072;     
    margin: -1px;
   }
.pages-global-class .qes-and-ans div.active {
    border:unset;
}

.pages-global-class .qes-and-ans .question {
    padding: 9px 12px;
    border-bottom:1px solid #138072;    
    border-left:1px solid #30746b;    
    border-right:1px solid #30746b;    
    background-color: #b3f1e9;
    color:rgb(39, 39, 39);
    margin: -1px;
    cursor: pointer;
}
.pages-global-class .qes-and-ans .question.active {
    background-color: #30746b;
    color: white;
}
.pages-global-class .contact_list li {
    transition: all .4s;
    margin-bottom: -1px;
    color: #555555;
    font-size: large;
    padding: 5px;
    padding-left: 10px;
    border: 1px solid #0aa894;
    font-weight: 400;
    width: 100%;
}
.pages-global-class .contact_list li:hover {
    transition: all .4s;
    margin-bottom: -1px;
    color: #555555;
    font-size: large;
    padding: 5px;
    padding-left: 15px;
    border: 1px solid #0aa894;
    background-color: #dafcf8;
    font-weight: 400;
    width: 100%;
}

.pages-global-class .qes-and-ans .answer {
    padding: 12px;    
    border:5px solid #30746b  !important;  
    border-bottom: 7px solid #30746b  !important;  
    background-color: #e9e9e9;
    background-image: url('./patterns/texturetastic_gray.png');
    color: #222222;
    margin: -1px;
    display: none;
}
.pages-global-class .qes-and-ans .answer.active {   
    display:inherit;
}

.pages-global-class .send-question .heading h4,
.pages-global-class .send-question .heading h5,
.pages-global-class .send-question .heading h6
{
    margin-top: 05px;
    margin-bottom: 0px;
}

.pages-global-class .send-question .heading h5.contact
{
    margin-top: 10px;
    margin-bottom: 0px;
}
.pages-global-class .send-question form.fatua {
    padding: 10px;
    padding-bottom: 25px;
    background-image: url('./patterns/texturetastic_gray.png');
    margin-top: 38px;
    border: 1px solid #0bb19c;;
}
.pages-global-class .send-question form.contact {
    padding: 10px;
    padding-bottom: 38px;
    background-image: url('./patterns/texturetastic_gray.png');
    margin-top: 60px;
    border: 1px solid #0bb19c;
}

.pages-global-class .send-question form .response_error{
    padding: 10px;
    color: red;
    background-color: rgb(255, 228, 228);
    border: 1px solid #ff0000;
    border-radius: 4px;
}
.pages-global-class .send-question form .response_success{
    padding: 10px;
    color: #029702;
    background-color: #d1fdd1;
    border: 1px solid #029702;
    border-radius: 4px;
}
.pages-global-class .send-question form .form-header{
    text-align: center;
}
.pages-global-class .send-question form label{
    margin-top: 10px;
    width: 100%;
    display: block;
}
.pages-global-class .send-question form input{
    border:1px solid #8d8d8d;
    border-left: 2px solid #8d8d8d;
    border-top: 2px solid #8d8d8d;
    /* background: rgba(255, 255, 255, 0.57); */
    /* border-radius: unset !important; */
}
.pages-global-class .send-question form input[type=radio] {
    width: 17px;    
    margin-right: 5px;   
}
.pages-global-class .send-question form .has-student input,
.pages-global-class .send-question form .has-student span{
    display: inline-block;    
}



.pages-global-class .send-question form input::placeholder{
    color:#adadad;
}
.pages-global-class .send-question form textarea{
    border:1px solid #8d8d8d;
    border-left: 2px solid #8d8d8d;
    border-top: 2px solid #8d8d8d;
    /* background: rgba(255, 255, 255, 0.57); */
    min-height: 150px;
    /* border-radius: unset !important; */
}
.pages-global-class .send-question form textarea::placeholder{
    color:#adadad;
}
.pages-global-class .send-question form button{
    transition: all .5s;
    margin-top: 14px;
    font-size: 18px;
    width: 100%;
    padding: 5px ;
    border: 2px solid rgb(255, 255, 255);
    background-color: #0bb19c;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0px 3px 4px rgb(131, 131, 131);
}
.pages-global-class .send-question form button:hover{
    transition: all .5s;
    margin-top: 14px;
    width: 100%;
    font-size: 18px;
    padding: 5px ;
    border: 2px solid rgb(255, 255, 255);
    background-color: #0bb19c;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0px 13px 24px rgb(109, 108, 108);
}

/* For jquery form validation lable class */
.pages-global-class form #name-error,
.pages-global-class form #phone-error,
.pages-global-class form #question-error
{
    color: red !important;
    font-size: 13px;
}

/* ------ page audio */
.pages-global-class .audio-rightside{
    /* transition: all 0.2s !important;   */
    height: 100%;
    margin-top: 35px;
    padding-left: 15px;
    border-left: 1px solid rgb(201, 201, 201);
}

.pages-global-class .audio-rightside h4, .pages-global-class .audio-rightside h5 {
    /* transition: all 0.2s; */
    border-radius: 10px;
    background-image: url('./patterns/gravel.png');
    text-align: center;
    cursor: pointer;
    padding: 14px 0;
    border: 2px solid #0bb19c;
    border-bottom: 4px solid #0bb19c;
    margin-top: 7px;
    margin-bottom: 15px;
    font-weight: 500;
}
.pages-global-class .audio-rightside h4, .pages-global-class .audio-rightside h5:hover {
    /* transition: all 0.2s; */
    border-radius: 10px;
    background:rgb(109, 109, 109);
    text-align: center;
    cursor: pointer;
    padding: 14px 0;
    border: 2px solid white, 10px solid #0bb19c;;
    /* border-bottom: 10px solid #0bb19c; */
    margin-top: 7px;
    margin-bottom: 15px;
    font-weight: 500;
    color: white;
}

.pages-global-class .audio-rightside p {
    font-size: large;
    /* transition: all 0.2s; */
    background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/leather_1.png');
    text-align: left;
    cursor: pointer;
    padding: 4px 10px;
    border: 1px solid #0fb29e;
    border-bottom: 3px solid #0bb19c;
    border-right: 2px solid #0bb19c;
    border-left: 2px solid #0bb19c;
    box-shadow: 1px 2px 2px rgb(182, 182, 182);
    margin: 7px auto;
    font-size: medium;
}
.pages-global-class .audio-rightside p.b-radius-around {
    border-radius: 10px;
}
.pages-global-class .audio-rightside p.b-radius-left-right {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #0bb19c;     
}


.pages-global-class .audio-rightside p.b-radius-around:hover{
    font-size: medium;
    /* transition: all 0.2s;    */
    border-radius: 10px;
    /* background-image: url('./patterns/light-veneer.png'); */
    background:rgb(109, 109, 109);
    text-align: left;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid white;
    border-bottom: 1px solid white;  
    border-right: 2px solid white;
    border-left: 2px solid white;
    box-shadow: 4px 6px 10px rgb(163, 163, 163);
    margin: 7px auto;
    color: white;
}
.pages-global-class .audio-rightside p.b-radius-left-right:hover{
    font-size: medium;
    /* transition: all 0.2s;    */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid white;
    /* background-image: url('./patterns/light-veneer.png'); */
    background:rgb(109, 109, 109);
    text-align: left;
    cursor: pointer;
    padding: 3px 10px;
    border: 1px solid #0fb29e;
    border-bottom: 3px solid #0fb29e;
    border-right: 2px solid #0fb29e;
    border-left: 2px solid #0fb29e;
    /* box-shadow: 4px 6px 10px rgb(163, 163, 163); */
    margin: 7px auto;
    color: white;
}
.pages-global-class .audio-rightside .audio-list {
    /* transition: all 0.2s; */
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    background-image: url('./patterns/light-veneer.png');
    background: #f1f1f1;
    text-align: left;
    cursor: pointer;
    margin-top: -7px;
    margin-bottom: 11px;
    font-weight: 500;
    z-index: -1;
    margin-left: 0px;
    border-bottom: 13px solid #2ba394;
    box-shadow: 2px 4px 3px rgb(201, 201, 201);
}

.pages-global-class .audio-rightside .audio-list p {
    /* transition: all 0.2s; */
    border-radius: 3px;
    padding: 0px;
    box-shadow: unset;
    border: 1px solid #0bb19c;
    margin: 0px;
    margin-bottom: -2px;
    padding-left: 10px;
    background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/white_brick_wall.png');
    font-size: smaller;
    border-radius: 0px;
}
.pages-global-class .audio-rightside .audio-list p:hover {
    /* transition: all 0.2s; */
    border-radius: 3px;
    padding: 0px;
    box-shadow: unset;
    border: 1px solid #0bb19c;
    margin: 0px;
    margin-bottom: -2px;
    padding-left: 10px;
    background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/white_brick_wall.png');
    font-size: smaller;
    border-radius: 0px;
    background: rgb(109, 109, 109);
    color: white;
}


#audio_libralies .library {
    margin-bottom: 8px;
    margin-right: -24px;
    border: 1px solid #0aa894;
    border-bottom: 8px solid #0aa894;
    background:#cbf7f1;
    background-image: url('./patterns/whirlpool2.png');
    height: 150px;
    cursor: pointer;
}
#audio_libralies .library.selected {    
    background-image: url('./patterns/light-veneer.png');

}
#audio_libralies .library:hover{
    margin-bottom: 8px;
    margin-right: -24px;
    border: 1px solid #0aa894;
    border-bottom: 8px solid #0aa894;
    background-color: #e9e9e9;
    height: 150px;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(150, 150, 150, 0.2);
}


#audio_libralies .library .title {
    width: 100%;
    background-color: #0ba18e;
    text-align: center;
    padding: 5px 0px;
    color: white;
}
#audio_libralies .library .body .total {
    transition: all 0.3s;
    text-align: center;
    padding: 36px;
}
#audio_libralies .library .body .total h5 {
    transition: all 0.3s;
    font-size: 27px;
}
#audio_libralies .library .body .total:hover {
    transition: all 0.3s;
    text-align: center;
    padding: 32px;
}
#audio_libralies .library .body .total h5:hover {
    transition: all 0.3s;
    font-size: 27px;
}

/* Notice page */


.donation-box {
    background: #99ebe2;
    border: 1px solid #0aa894;
    border-top: 5px solid #0eb8a3;
    border-bottom: 3px solid #0aa894;
    height: 150px;
    box-shadow: 0px 3px 3px rgb(214, 214, 214);
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
}
.donation-box .inside {
    transition: all 0.4s;
    width: 100%;
    height: 86%;
    margin-top: 20px;
    margin-bottom: auto;
    background-position: top;
    background-size: cover;
    background-image: url('./../img/donation2.png');
}
.donation-box .inside:hover {
    transition: all 0.4s;
    width: 100%;
    height: 86%;
    margin-top: 20px;
    margin-bottom: auto;
    background-position:top;
    background-size: cover;
    background-image: url('./../img/donation2.png');
    transform: scale(1.1);
}
.donation-box p.donation-name {
    text-align: center;
    padding-top: 65px;
    font-size: 20px;
    width: 100%;
    padding: 44px 12px;
    text-shadow: 0px 0px 1px #000;
    /* color: #268083; */
}

.send-donation-number-box {
    text-align: justify;
    padding: 20px;
    width: 100%;
    height: 100px;
    border: 1px solid #0aa894;
    border-top: 5px solid #0eb8a3;
    border-bottom: 3px solid #0aa894;
    border-radius: 10px;
    background: #f8f8f8;
    cursor: pointer;
    transition: all .3s;
    box-shadow: 0px 3px 5px #b6b6b6;
}
.send-donation-number-box:hover {
    text-align: justify;
    padding: 20px;
    width: 100%;
    height: 100px;
    border: 1px solid #0aa894;
    border-top: 5px solid #0eb8a3;
    border-bottom: 3px solid #0aa894;
    border-radius: 10px;
    background: #a4e4db;
    cursor: pointer;
    transition: all .3s;
    box-shadow: 20px 30px 20px #b6b6b6;
}

.gmap {
    width: 100%;
    padding: unset;
    border: 2px double rgb(160, 160, 160);
    background: transparent;
    margin-top: 30px;
}
.msngr{
    transition: all .4s;
    padding: 10px !important;
    border: 1px solid #0a4e45;
    background: rgb(236, 236, 236);
    background: linear-gradient(0deg,#0bb19c,#014a41);
    border-radius: 10px;
    color: white !important;
    cursor: pointer;  
}
.msngr:hover{
    transition: all .4s;
    padding: 10px !important;
    border: 1px solid #0a4e45;
    background: rgb(236, 236, 236);
    background: linear-gradient(0deg,#0bb19c,#014a41);
    border-radius: 10px;
    color: white !important;
    cursor: pointer;
    transform: scale(1.03);
}